/ Content Wrapper. Contains page content
.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Edit A Gratification

    %ol.breadcrumb
      %li
        %a{:href => admin_root_path}
          %i.fa.fa-dashboard
          Home
      %li
        %a{:href => admin_gratifications_path} Gratifications
      %li.active Edit
  / Main content
  %section.content#wizard-appendix
    = render 'form'
