.row
	/ left column
	.col-md-8
		/ general form elements
		.box.box-primary{style: "height: 400px;"}
			.box-header.with-border
				%h3.box-title New Notification
			/ /.box-header
			/ form start
			%h3{:style => "padding: 10px;"}
				Notification Details
			= simple_form_for [:admin, @push_notification] do |f|
				.input-container{:style => "float: left; border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal;"}
					%label
						Message
					= f.input_field :message, placeholder: '', class: "form-control"
				.input-container{:style => "float: left; border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal;"}
					%label
					= f.input :active, as: :boolean, type: :checkbox, class: "form-control"
				.div{style: "clear: both"}
				.input-container.submit-btn-wrapper{style: "float: left;"}
					= f.submit "Submit", class: "submit-btn validate-form"
