/ Content Wrapper. Contains page content
.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Add a New Notification

    %ol.breadcrumb
      %li
        %a{:href => admin_root_path}
          %i.fa.fa-dashboard
          Home
      %li
        %a{:href => admin_push_notifications_path} Notifications
      %li.active New
  / Main content
  %section.content#wizard-appendix
    = render 'form'
